<form>
    <div class="grid" style="margin-top: 30px;">

        <div class="col-12 lg:col-6 md:col-12 ">
            <span class="p-float-label">
                <input pKeyFilter="alphanum" pInputText id="panNo" style='text-transform:uppercase;width: 100%;' />
                <label htmlFor="panNo">Enter Pan No<span class="text-red-600"> *</span></label>
            </span>
            <br>
            <p-fileUpload [auto]="false" [files]="panFile" #panUpload [customUpload]="true"
                (uploadHandler)="panDetailsUpload($event,panUpload)" [showCancelButton]="false" chooseLabel="Choose"
                name="demo[]" [multiple]="false" accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <ng-template pTemplate="toolbar">
                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [png, jpg, jpeg, pdf]
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </p-fileUpload>

        </div>
        <div class="col-12 lg:col-6 md:col-12">
            <span class="p-float-label">
                <input pInputText id="gst" style='text-transform:uppercase;width: 100%;' />
                <label htmlFor="gstNo">Enter GST No<span class="text-red-600"> *</span></label>
            </span>
            <br>
            <p-fileUpload [customUpload]="true" #gstUpload [auto]="false" [customUpload]="true"
                [showCancelButton]="false" chooseLabel="Choose" [files]="gstFile"
                (uploadHandler)="gstDetailsUpload($event , gstUpload)" name="gstFile[]" [multiple]="false"
                accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <ng-template pTemplate="toolbar">
                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [png, jpg, jpeg, pdf]
                            </li>
                        </ul>
                    </div>
                </ng-template>

            </p-fileUpload>
        </div>
        <div class="col-12 lg:col-6 md:col-12">
            <span class="p-float-label">
                <input pInputText id="udyam" style='text-transform:uppercase ; width: 100%;' />
                <label htmlFor="udyam">Enter Udyam Aadhar<span class="text-red-600"> *</span></label>
            </span>
            <br>
            <p-fileUpload [auto]="false" [customUpload]="true" [showCancelButton]="false" chooseLabel="Choose"
                name="demo[]" (uploadHandler)="udyamUpload($event)" [multiple]="false" [files]="udymaFile"
                accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <ng-template pTemplate="toolbar">
                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [.png, .jpg, .pdf, .jpeg]
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </p-fileUpload>
        </div>


    </div>

</form>