<p-accordion [multiple]="true" [activeIndex]="[0]" >
    <p-accordionTab header="Father's Details"  >
        <div>
            <div class="col-12">

                <form class="pt-4" [formGroup]="ParentsDetails">

                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname2">Firstname<span class="text-red-600"> *</span></label>
                            <input pInputText id="firstname2" type="text" formControlName="fatherFirstName"
                                placeholder="Firstname" pattern="^[A-Za-z]{2,}$" />
                            <div
                                *ngIf="ParentsDetails.controls['fatherFirstName'].touched && ParentsDetails.controls['fatherFirstName'].errors">
                                <div *ngIf="ParentsDetails.controls['fatherFirstName'].hasError('required')"
                                    style="color: red;text-align: left;">
                                    Enter your First name!
                                </div>
                                <div *ngIf="ParentsDetails.controls['fatherFirstName'].hasError('pattern')"
                                    style="color: red;text-align: left;">
                                    Enter a valid Institute name!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Lastname<span class="text-red-600"> *</span></label>
                            <input pInputText id="lastname2" type="text" formControlName="fatherLastName"
                                placeholder="Lastname" />
                            <div *ngIf="ParentsDetails.controls['fatherLastName'].touched ">
                                <div *ngIf="ParentsDetails.controls['fatherLastName'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Last name !
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="email">Email<span class="text-red-600"> *</span></label>
                            <input pInputTextarea id="email" rows="4" formControlName="fatherEmail" placeholder="Email"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                            <div
                                *ngIf="ParentsDetails.controls['fatherEmail'].touched && ParentsDetails.controls['fatherEmail'].errors">
                                <div *ngIf="ParentsDetails.controls['fatherEmail'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your email Id!
                                </div>
                                <div *ngIf="ParentsDetails.controls['fatherEmail'].hasError('pattern')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter a valid email Id!

                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="phone">Mobile No<span class="text-red-600"> *</span></label>
                            <input pInputText id="phone" type="text" formControlName="fatherPhone"
                                placeholder="MobileNo" minlength="10" maxlength="10" type="phone"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                placeholder="Mobile No" required pattern="[0-9 ]{10}" />
                            <div
                                *ngIf="ParentsDetails.controls['fatherPhone'].touched && ParentsDetails.controls['fatherPhone'].errors">
                                <div *ngIf="ParentsDetails.controls['fatherPhone'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter a valid Mobile No!

                                </div>
                                <div *ngIf="ParentsDetails.controls['fatherPhone'].hasError('pattern')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter Valid Mobile No!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Address <span class="text-red-600"> *</span></label>
                            <input pInputText id="address" type="text" formControlName="fatherAddress"
                                placeholder="Address" />
                            <div *ngIf="ParentsDetails.controls['fatherAddress'].touched ">
                                <div *ngIf="ParentsDetails.controls['fatherAddress'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your correct address!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="nationality">Nationality <span class="text-red-600"> *</span></label>
                            <input pInputText id="nationality" type="text" formControlName="fatherNationality"
                                placeholder="Nationality" />
                            <div *ngIf="ParentsDetails.controls['fatherNationality'].touched ">
                                <div *ngIf="ParentsDetails.controls['fatherNationality'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your nationality!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Occupation">Occupation <span class="text-red-600"> *</span></label>
                            <input pInputText id="Occupation" type="text" formControlName="fatherOccupation"
                                placeholder="Occupation" />
                            <div *ngIf="ParentsDetails.controls['fatherOccupation'].touched ">
                                <div *ngIf="ParentsDetails.controls['fatherOccupation'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Occupation!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="state">State</label>
                            <p-dropdown [options]="dropdownItems" optionLabel="name"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="city">City</label>
                            <input pInputText id="city" type="text" formControlName="City" placeholder="City" />
                            <div *ngIf="ParentsDetails.controls['City'].touched ">
                                <div *ngIf="ParentsDetails.controls['City'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your city!
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="FatherReligion">Religion<span class="text-red-600"> *</span></label>
                            <input pInputText id="FatherReligion" type="text" formControlName="fatherReligion"
                                placeholder=" Religion" />
                            <div *ngIf="ParentsDetails.controls['fatherReligion'].touched ">
                                <div *ngIf="ParentsDetails.controls['fatherReligion'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Religion !
                                </div>
                            </div>
                        </div>
                        <!--<div class="field col-12 md:col-4">
                                <label htmlFor="Country">Country</label>
                                <p-dropdown [options]="dropdownItems1" optionLabel="Select Country "></p-dropdown>
                            </div>-->
                        <div class="field col-12 md:col-4">
                            <label htmlFor="zip">Zip Code</label>
                            <input pInputText id="zip" type="text" formControlName="Zip" placeholder="Zip Code" />
                            <div *ngIf="ParentsDetails.controls['Zip'].touched ">
                                <div *ngIf="ParentsDetails.controls['Zip'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Zip Code!
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </p-accordionTab>



    <!--Mother's Details-->
    <p-accordionTab header="Mother's Details">
        <div>
            <div class="col-12">

                <form class="pt-4" [formGroup]="ParentsDetails">

                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname2">Firstname <span class="text-red-600"> *</span></label>
                            <input pInputText id="firstname2" type="text" formControlName="motherFirstName"
                                placeholder="Firstname" pattern="^[A-Za-z]{2,}$" />
                            <div
                                *ngIf="ParentsDetails.controls['motherFirstName'].touched && ParentsDetails.controls['motherFirstName'].errors">
                                <div *ngIf="ParentsDetails.controls['motherFirstName'].hasError('required')"
                                    style="color: red;text-align: left;">
                                    Enter your First name!
                                </div>
                                <div *ngIf="ParentsDetails.controls['motherFirstName'].hasError('pattern')"
                                    style="color: red;text-align: left;">
                                    Enter a valid Institute name!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Lastname <span class="text-red-600"> *</span></label>
                            <input pInputText id="lastname2" type="text" formControlName="motherLastName"
                                placeholder="Lastname" />
                            <div *ngIf="ParentsDetails.controls['motherLastName'].touched ">
                                <div *ngIf="ParentsDetails.controls['motherLastName'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Last name !
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="email">Email <span class="text-red-600"> *</span></label>
                            <input pInputTextarea id="email" rows="4" formControlName="motherEmail" placeholder="Email"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                            <div
                                *ngIf="ParentsDetails.controls['motherEmail'].touched && ParentsDetails.controls['motherEmail'].errors">
                                <div *ngIf="ParentsDetails.controls['motherEmail'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your email Id!
                                </div>
                                <div *ngIf="ParentsDetails.controls['motherEmail'].hasError('pattern')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter a valid email Id!

                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="phone">Mobile No <span class="text-red-600"> *</span></label>
                            <input pInputText id="phone" type="text" formControlName="motherPhone"
                                placeholder="MMobileNo" minlength="10" maxlength="10" type="phone"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                placeholder="Mobile No" required pattern="[0-9 ]{10}" />
                            <div
                                *ngIf="ParentsDetails.controls['motherPhone'].touched && ParentsDetails.controls['motherPhone'].errors">
                                <div *ngIf="ParentsDetails.controls['motherPhone'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter a valid Mobile No!

                                </div>
                                <div *ngIf="ParentsDetails.controls['motherPhone'].hasError('pattern')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter Valid Mobile No!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Address <span class="text-red-600"> *</span></label>
                            <input pInputText id="address" type="text" formControlName="motherAddress"
                                placeholder="Address" pattern="^[A-Za-z0-9]{2,}$" />
                            <div *ngIf="ParentsDetails.controls['motherAddress'].touched ">
                                <div *ngIf="ParentsDetails.controls['motherAddress'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your correct address!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="nationality">Nationality<span class="text-red-600"> *</span></label>
                            <input pInputText id="nationality" type="text" formControlName="motherNationality"
                                placeholder="Nationality" />
                            <div *ngIf="ParentsDetails.controls['motherNationality'].touched ">
                                <div *ngIf="ParentsDetails.controls['motherNationality'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your nationality!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Occupation">Occupation <span class="text-red-600"> *</span></label>
                            <input pInputText id="Occupation" type="text" formControlName="motherOccupation"
                                placeholder="Occupation" />
                            <div *ngIf="ParentsDetails.controls['motherOccupation'].touched ">
                                <div *ngIf="ParentsDetails.controls['motherOccupation'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Occupation!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="state">State</label>
                            <p-dropdown [options]="dropdownItems" optionLabel="name"
                                placeholder="Select State"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="city">City</label>
                            <input pInputText id="city" type="text" formControlName="MCity" placeholder="City" />
                            <div *ngIf="ParentsDetails.controls['MCity'].touched ">
                                <div *ngIf="ParentsDetails.controls['MCity'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your city!
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="FatherReligion">Religion <span class="text-red-600"> *</span></label>
                            <input pInputText id="FatherReligion" type="text" formControlName="motherReligion"
                                placeholder=" Religion" />
                            <div *ngIf="ParentsDetails.controls['motherReligion'].touched ">
                                <div *ngIf="ParentsDetails.controls['motherReligion'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Religion !
                                </div>
                            </div>
                        </div>
                        <!--<div class="field col-12 md:col-4">
                                <label htmlFor="state">Country</label>
                                <p-dropdown [options]="dropdownItems" optionLabel="name" placeholder="Country"></p-dropdown>
                            </div>-->
                        <div class="field col-12 md:col-4">
                            <label htmlFor="zip">Zip Code</label>
                            <input pInputText id="zip" type="text" formControlName="MZip" placeholder="Zip Code" />
                            <div *ngIf="ParentsDetails.controls['MZip'].touched ">
                                <div *ngIf="ParentsDetails.controls['MZip'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Zip Code!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<button pButton pRipple label="Submit" (click)="submit()"></button>-->


                </form>

            </div>
        </div>

    </p-accordionTab>


    <!--Guardian Details-->

    <p-accordionTab header="Guardian's Details">
        <div>
            <div class="col-12">

                <form class="pt-4" [formGroup]="ParentsDetails">

                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstname2">Firstname <span class="text-red-600"> *</span></label>
                            <input pInputText id="firstname2" type="text" formControlName="guardianFirstName"
                                placeholder="Firstname" pattern="^[A-Za-z]{2,}$" />
                            <div
                                *ngIf="ParentsDetails.controls['guardianFirstName'].touched && ParentsDetails.controls['guardianFirstName'].errors">
                                <div *ngIf="ParentsDetails.controls['guardianFirstName'].hasError('required')"
                                    style="color: red;text-align: left;">
                                    Enter your First name!
                                </div>
                                <div *ngIf="ParentsDetails.controls['guardianFirstName'].hasError('pattern')"
                                    style="color: red;text-align: left;">
                                    Enter a valid Institute name!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="lastname2">Lastname <span class="text-red-600"> *</span></label>
                            <input pInputText id="lastname2" type="text" formControlName="guardianLastName"
                                placeholder="Lastname" />
                            <div *ngIf="ParentsDetails.controls['guardianLastName'].touched ">
                                <div *ngIf="ParentsDetails.controls['guardianLastName'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Last name !
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="email">Email <span class="text-red-600"> *</span></label>
                            <input pInputTextarea id="email" rows="4" formControlName="guardianEmail"
                                placeholder="Email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                            <div
                                *ngIf="ParentsDetails.controls['guardianEmail'].touched && ParentsDetails.controls['guardianEmail'].errors">
                                <div *ngIf="ParentsDetails.controls['guardianEmail'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your email Id!
                                </div>
                                <div *ngIf="ParentsDetails.controls['guardianEmail'].hasError('pattern')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter a valid email Id!

                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="phone">Mobile No <span class="text-red-600"> *</span></label>
                            <input pInputText id="phone" type="text" formControlName="guardianPhone"
                                placeholder="MobileNo" minlength="10" maxlength="10" type="phone"
                                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                placeholder="Mobile No" required pattern="[0-9 ]{10}" />
                            <div
                                *ngIf="ParentsDetails.controls['guardianPhone'].touched && ParentsDetails.controls['guardianPhone'].errors">
                                <div *ngIf="ParentsDetails.controls['guardianPhone'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter a valid Mobile No!

                                </div>
                                <div *ngIf="ParentsDetails.controls['guardianPhone'].hasError('pattern')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter Valid Mobile No!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="address">Address <span class="text-red-600"> *</span></label>
                            <input pInputText id="address" type="text" formControlName="guardianAddress"
                                placeholder="Address" pattern="^[A-Za-z0-9]{2,}$" />
                            <div *ngIf="ParentsDetails.controls['guardianAddress'].touched ">
                                <div *ngIf="ParentsDetails.controls['guardianAddress'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your correct address!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="nationality">Nationality<span class="text-red-600"> *</span></label>
                            <input pInputText id="nationality" type="text" formControlName="guardianNationality"
                                placeholder="Nationality" />
                            <div *ngIf="ParentsDetails.controls['guardianNationality'].touched ">
                                <div *ngIf="ParentsDetails.controls['guardianNationality'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your nationality!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Occupation">Occupation <span class="text-red-600"> *</span></label>
                            <input pInputText id="Occupation" type="text" formControlName="guardianOccupation"
                                placeholder="Occupation" />
                            <div *ngIf="ParentsDetails.controls['guardianOccupation'].touched ">
                                <div *ngIf="ParentsDetails.controls['guardianOccupation'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Occupation!
                                </div>
                            </div>

                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="state">State</label>
                            <p-dropdown [options]="dropdownItems" optionLabel="name"
                                placeholder="Select State"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="city">City</label>
                            <input pInputText id="city" type="text" formControlName="GCity" placeholder="City" />
                            <div *ngIf="ParentsDetails.controls['GCity'].touched ">
                                <div *ngIf="ParentsDetails.controls['GCity'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your city!
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="FatherReligion">Religion <span class="text-red-600"> *</span></label>
                            <input pInputText id="FatherReligion" type="text" formControlName="guardianReligion"
                                placeholder=" Religion" />
                            <div *ngIf="ParentsDetails.controls['guardianReligion'].touched ">
                                <div *ngIf="ParentsDetails.controls['guardianReligion'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Religion !
                                </div>
                            </div>
                        </div>
                        <!--<div class="field col-12 md:col-4">
                            <label htmlFor="state">Country</label>
                            <p-dropdown [options]="dropdownItems" optionLabel="name" placeholder="Country"></p-dropdown>
                        </div>-->
                        <div class="field col-12 md:col-4">
                            <label htmlFor="zip">Zip Code</label>
                            <input pInputText id="zip" type="text" formControlName="GZip" placeholder="Zip Code" />
                            <div *ngIf="ParentsDetails.controls['GZip'].touched ">
                                <div *ngIf="ParentsDetails.controls['GZip'].hasError('required')"
                                    style="color: red;text-align: left;margin-top: 6px;">
                                    Enter your Zip Code!
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<button pButton pRipple label="Submit" (click)="submit()"></button>-->


                </form>

            </div>
        </div>


    </p-accordionTab>



    <button pButton pRipple label="Submit" (click)="submit()" styleClass="button-rounded"></button>