

<p-accordion [multiple]="true" [activeIndex]="[0]">
    <p-accordionTab header="Father's Details">
        <div>
            <div class="col-12">
                <div class="card">
                    
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor=" Father's firstname2"> Father's First Name</label>
                            <input pInputText id=" Father's firstname2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor=" Father's lastname2"> Father's Last Name</label>
                            <input pInputText id="Father's lastname2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Father Email Id2"> Father's Email Id</label>
                            <input pInputText id="Father Email Id2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Father Mobile No2"> Father's Mobile No</label>
                            <input pInputText id="Father Mobile No2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Father Occupation2"> Father's Occupation</label>
                            <input pInputText id="Father Occupation2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Father Religion2"> Father's Religion</label>
                            <input pInputText id="Father Religion2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="Father Nationalty2"> Father's Nationalty</label>
                            <input pInputText id="Father Nationalty2" type="text" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor=" Father's address"> Father's Address</label>
                            <input pInputTextarea id="address" rows="4" />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="state">Country</label>
                            <p-dropdown optionLabel="name"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="state">State</label>
                            <p-dropdown optionLabel="name"></p-dropdown>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="city">City</label>
                            <input pInputText id="city" type="text" />
                        </div>
                        
                        <div class="field col-12 md:col-4">
                            <label htmlFor="zip">Zip</label>
                            <input pInputText id="zip" type="text" />
                        </div>
                        <br>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </p-accordionTab>

    <p-accordionTab header="Mother's Details">
        <div>
            <div class="col-12">
                <div class="card">
                    
                    <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-4">
            <label htmlFor=" Mother's firstname2"> Mother's First Name</label>
            <input pInputText id=" Mother's firstname2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor=" Mother's lastname2"> Mother's Last Name</label>
            <input pInputText id="Mother's lastname2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="Mother Email Id2"> Mother's Email Id</label>
            <input pInputText id="Mother Email Id2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="Mother Mobile No2"> Mother's Mobile No</label>
            <input pInputText id="Mother Mobile No2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="Mother Occupation2"> Mother's Occupation</label>
            <input pInputText id="Mother Occupation2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="Mother Religion2"> Mother's Religion</label>
            <input pInputText id="Mother Religion2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="Mother Nationalty2"> Mother's Nationalty</label>
            <input pInputText id="Mother Nationalty2" type="text" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor=" Mother's address"> Mother's Address</label>
            <input pInputTextarea id="address" rows="4" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="state">Country</label>
            <p-dropdown optionLabel="name"></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="state">State</label>
            <p-dropdown optionLabel="name"></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="city">City</label>
            <input pInputText id="city" type="text" />
        </div>
        
        <div class="field col-12 md:col-4">
            <label htmlFor="zip">Zip</label>
            <input pInputText id="zip" type="text" />
        </div> 
    </div>
</div>
 </div>
</div> 
</p-accordionTab>

<p-accordionTab header="Guardian's Details">
    <div>
        <div class="col-12">
            <div class="card">
                
                <div class="p-fluid p-formgrid grid">
      
    <div class="field col-12 md:col-4">
        <label htmlFor=" Guardian firstname2"> Guardian's First Name</label>
        <input pInputText id=" Guardian firstname2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor=" Guardian's lastname2"> Guardian's Last Name</label>
        <input pInputText id="Guardian's lastname2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="Guardian Email Id2"> Guardian's Email Id</label>
        <input pInputText id="Guardian Email Id2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="Guardian Mobile No2"> Guardian's Mobile No</label>
        <input pInputText id="Guardian Mobile No2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="Guardian Occupation2"> Guardian's Occupation</label>
        <input pInputText id="Guardian Occupation2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="Guardian Religion2"> Guardian's Religion</label>
        <input pInputText id="Guardian Religion2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="Guardian Nationalty2"> Guardian's Nationalty</label>
        <input pInputText id="Guardian Nationalty2" type="text" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor=" Guardian address"> Guardian's Address</label>
        <input pInputTextarea id="address" rows="4" />
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="state">Country</label>
        <p-dropdown optionLabel="name"></p-dropdown>
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="state">State</label>
        <p-dropdown optionLabel="name"></p-dropdown>
    </div>
    <div class="field col-12 md:col-4">
        <label htmlFor="city">City</label>
        <input pInputText id="city" type="text" />
    </div>
    
    <div class="field col-12 md:col-4">
        <label htmlFor="zip">Zip</label>
        <input pInputText id="zip" type="text" />
    </div>
</div>
</div>
   <button pButton label="Submit"></button>
 </div>
</div>

</p-accordionTab>

