<div class="main-container">
    <form [formGroup]="loginGrp">
        <div class="flex flex-column align-items-center justify-content-center">

            <div
                style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                    <div class="text-center mb-5">

                        <div class="text-900 text-3xl font-medium mb-3"></div>
                        <span class="text-600 font-medium">Sign in to continue</span>
                    </div>

                    <div>
                        <label for="mobileNo" class="block text-900 text-xl font-medium mb-2">Enter Mobile no.</label>
                        <input type="text" appOnlyNumber maxlength="10" minlength="0" required
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            pattern="[- +()0-9]{10,12}" id="mobileNo" type="text" placeholder="Enter mobile no."
                            pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="mobileNo">

                        <div *ngIf="loginGrp.controls['mobileNo'].touched && loginGrp.controls['mobileNo'].errors">
                            <div *ngIf="loginGrp.controls['mobileNo'].hasError('required')"
                                style="color: red;text-align: left;">
                                Enter Mobile No!

                            </div>
                            <div *ngIf="loginGrp.controls['mobileNo'].hasError('pattern')"
                                style="color: red;text-align: left;">
                                Enter Valid Mobile No!
                            </div>
                        </div>
                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <p-password formControlName="password" id="password1" placeholder="Password" [toggleMask]="true"
                            styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                        <div *ngIf="loginGrp.controls['password'].touched">
                            <div *ngIf="loginGrp.controls['password'].hasError('required')"
                                style="color: red;text-align: left;">
                                Enter Your Password

                            </div>

                        </div>
                        <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="signin()"></button>

                        <br>

                        <p>Not a user? <a routerLink="/auth/signup"
                                class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)">Sign up</a> </p>


                    </div>
                </div>
            </div>
        </div>
    </form>
</div>