/*.main-container{
    margin-top:7%;
}
  .social-login img {
    width: 24px;
  }
  a {
    text-decoration: none;

  }
  .container {
    font-family: sans-serif;
    width: 530px;
    height: 522px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    //background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    //background-color: rgba(229, 228, 255, 0.2);
    background-color: rgb(19 85 95 / 20%);

  }

  .blur-effect{
    filter:blur(0px);
  }

  .title {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  .subtitle {
    text-align: center;
    font-weight: bold;
  }
  .btn-text {
    margin: 0;
  }


  .or span {
    background: #fff;
    padding: 0 10px;
  }

  .email-login {
    display: flex;
    flex-direction: column;

  }
  .email-login label {
    color: rgb(18, 17, 17);
  }

  input[type="text"],
  input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100% !important;
  }

  .cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
  }

  .forget-pass {
    text-align: center;
    display: block;
  }*/






  






  


  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ::selection {
    background: #67E878;
    color: #ffffff;
    text-shadow: none;
  }
  
  a {
    text-decoration: none;
  }
  
  section.section {
    max-width: 1170px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  .main {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .intro-section {
    flex-basis: 60%;
    text-align: center;
  }
  
  .intro-heading {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
  }

  .side img{
    width: 55vh;
      max-width: 55vh;

  }
  
  .intro-text {
    margin-bottom: 40px;
    color: #98979E;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.6;
  }
  
  .sign-section {
    flex-basis: 30%;
    color: #98979E;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 3px rgba(220,218,228,1);
  
  }
  
  .sign-block {
    padding: 5%;
  }
  
  .sign-heading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  .input-block {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }
  
  .input {
    width: 50vh;
    height: 50px;
    // padding-left: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 1px solid #98979E;
   // border-radius: 10px;
    border-left: transparent;
    outline: none;
    margin: 25px;
  }
  
  .input:focus {
      border-bottom: 1px solid #55C063;
  }
  
  .border
  ::placeholder {
    transition: .3s ease;
  }
  
  .input:focus::placeholder {
    opacity: .5;
  }
  
  .password-block {
    display: flex;
    justify-content: space-between;
      align-items: center;
      margin: 50px 0;
    font-size: 10px;
    font-weight: 700;
  }
  
  .password-link {
    color: #98979E;
  }
  
  .password-link:hover {
    color: #55C063;
  }
  
  .sign-button {
    background-color: #2239cc;
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(24, 17, 169);
    outline: none;
    cursor: pointer;
    transition: .3s ease;
  }
  
  .sign-button:hover {
    background-color: #1f3c9d;
    box-shadow: 0px 0px 5px 1px rgb(112, 103, 232);
  }


  /* password toggle*/

  .password-toggle {
    position: relative;
    cursor: pointer;
    user-select: none;
  }

  .password-toggle i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-280%);
    font-size: 18px;
  }

  /*.password-toggle i.fa-eye-slash {
    display: none;
  }*/