.main-container{
    margin-top:7%;
}
  .social-login img {
    width: 24px;
  }
  a {
    text-decoration: none;

  }
  .container {
    font-family: sans-serif;
    width: 530px;
    height: 522px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom:3em;
    border-radius: 10px;
    //background-color: #ffff;
    padding: 1.8rem;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    //background-color: rgba(229, 228, 255, 0.2);
    background-color: rgb(19 85 95 / 20%);

  }

  .blur-effect{
    filter:blur(0px);
  }

  .title {
    text-align: center;
    font-weight: bold;
    margin: 0;
  }
  .subtitle {
    text-align: center;
    font-weight: bold;
  }
  .btn-text {
    margin: 0;
  }


  .or span {
    background: #fff;
    padding: 0 10px;
  }

  .email-login {
    display: flex;
    flex-direction: column;

  }
  .email-login label {
    color: rgb(18, 17, 17);
  }

  input[type="text"],
  input[type="password"] {
    padding: 15px 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    width: 100% !important;
  }

  .cta-btn {
    background-color: rgb(69, 69, 185);
    color: white;
    padding: 18px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
  }

  .forget-pass {
    text-align: center;
    display: block;
  }
