 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" [style]="{'width':'40rem'}">
        <div class="container">
            <header>

            </header>
            <h4>Enter OTP Code</h4>
            <form >
              <div class="input-field">
                <input type="number" maxlength="1" minlength="1" />
                <input type="number" maxlength="1" minlength="1"/>
                <input type="number" maxlength="1" minlength="1" />
                <input type="number" maxlength="1" minlength="1" />
              </div>

              <button pButton pRipple label="Verified" [routerLink]="['../signup']"></button>
            </form>
          </div>

    </div>

</body>
</html>


