button {
    float: right;
    border-radius: 10px 20px;
    background-image: linear-gradient(to right, #835dea, #462ea5);
    border: none;
}

.card {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 570px;
}
