<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>

<p-menu #menu [model]="items" [popup]="true"></p-menu>


<button pButton pRipple label="+ Add Bank" (click)="navigateToAddBank()"></button>


<div *ngIf="bank" style="margin-top:8%;">


    <form [formGroup]="bankFilter">
        <p-accordion [activeIndex]="1">
            <p-accordionTab header="Apply Filter">

                <div class="formgrid grid">
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Account Name</label>
                        <div class="p-inputgroup">

                            <input placeholder="Enter Account Name" type="text" formControlName="accountname"
                                pInputText />

                        </div>


                    </div>

                    <div class="field col-12 lg:col-4 md:col-12 ">
                        <label for="firstname2">Account Type</label>

                        <div class="p-inputgroup">
                            <input formControlName="accounttype" placeholder="Enter Account Type" type="text" pInputText
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />
                        </div>


                    </div>




                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Account No</label>
                        <div class="p-inputgroup">

                            <input formControlName="accountno" placeholder="Enter Account No" type="text" pInputText
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />

                        </div>


                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">IFSC Code</label>
                        <div class="p-inputgroup">

                            <input formControlName="ifsccode" placeholder="Enter Ifsc code" type="text" pInputText
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />

                        </div>


                    </div>
                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Bank Name</label>
                        <div class="p-inputgroup">

                            <input formControlName="bankname" placeholder="Enter Bank Name" type="text" pInputText
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />

                        </div>


                    </div>

                    <div class="field col-12 lg:col-4 md:col-12">
                        <label for="firstname2">Branch Name</label>
                        <div class="p-inputgroup">

                            <input formControlName="branchname" placeholder="Enter Branch Name" type="text" pInputText
                                oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />

                        </div>


                    </div>






                </div>


                <br>

                <p-button [style]="{'margin-left':'12px'}" [label]="'APPLY'" (click)="filteredValues()"></p-button>



            </p-accordionTab>

        </p-accordion>

    </form>

    <br>


    <div style="margin-top:8%;">
        <p-table [scrollable]="true" #dt2 [value]="bank" dataKey="id" [rows]="10"
            [tableStyle]="{ 'min-width': '75rem' }">
            <!-- <ng-template pTemplate="caption">
            <div class="flex-container">
                <h2>List of Bank</h2>

            </div>
        </ng-template> -->

            <ng-template pTemplate="caption">
                <div class="flex-container">
                    <h2>List of Bank</h2>
                    <p-splitButton icon="pi pi-download" label="Download" [model]="this.saveOptions"
                        styleClass="p-button-outlined mr-2 mb-2">
                    </p-splitButton>

                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>ACCOUNT NAME</th>
                    <th>ACCOUNT TYPE</th>
                    <th>ACCOUNT NO</th>
                    <th>IFSC CODE</th>
                    <th>BANK NAME</th>
                    <th>BRANCH NAME</th>
                    <th alignFrozen="right" pFrozenColumn> ACTION</th>
                </tr>


            </ng-template>
            <ng-template pTemplate="body" let-bank>
                <tr>
                    <td>{{ bank.accountHolderName | uppercase }}</td>
                    <td>{{ bank.accountType | uppercase }}</td>
                    <td>{{ bank.accountNo }}</td>
                    <td>{{ bank.ifsc | uppercase }}</td>
                    <td>{{ bank.bankName | uppercase }}</td>
                    <td>{{ bank.branch | uppercase }}</td>
                    <td alignFrozen="right" pFrozenColumn [style]="{'color':'#0257FF','font-weight': 'bold'}">


                        <p-button (click)="handleClick( bank.studentId ); menu.toggle($event)" icon="pi pi-ellipsis-v"
                            styleClass="p-button-rounded p-button-text">

                        </p-button>
                    </td>

                </tr>
            </ng-template>

        </p-table>

    </div>

</div>

<div *ngIf="!bank">
    <div
        style="background-color: #F4F6FF;height:645px;display: flex; justify-content: center; align-items: center;width: 100%;height:600px;">
        <div style="width:20%;border-radius:10px;box-shadow: rgba(94, 93, 102, 0.08) 1px 1px 0px 0px, rgba(94, 93, 102, 0.1) 2px 2px 3px 0px;
   ">
            <img src="../../../../assets/layout/images/25943-nodata (1).gif" width="100%;">

        </div>

    </div>

</div>