<button pButton pRipple label="+ Add Staff" (click)="navigateToAddBank()"></button>

<div style="margin-top:8%;">
    <p-table #dt2 [value]="staff" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'plan', 'balance', 'adjustments']" [tableStyle]="{ 'min-width': '75rem' }">
        <!-- <ng-template pTemplate="caption">
            <div class="flex-container">
                <h2>List of Staff</h2>

            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile No</th>



            </tr>


        </ng-template>
        <ng-template pTemplate="body" let-staff>
            <tr>
                <td>{{ staff.FirstName }}</td>
                <td>{{ staff.LastName }}</td>
                <td>{{ staff.Email }}</td>
                <td>{{ staff.MobileNo }}</td>




            </tr>
        </ng-template>

    </p-table>
</div>