<button pButton pRipple label="+ Add Student" (click)="addStudent()"></button>
<button pButton pRipple label="Bulk Upload" (click)="bulkUpload()"></button>





<p-confirmPopup></p-confirmPopup>
<p-toast></p-toast>


<p-menu #menu [model]="items" [popup]="true"></p-menu>

<div *ngIf="students" style="margin-top:8%;">

    <p-table #dt2 [value]="students" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'plan', 'balance', 'adjustments']" [tableStyle]="{ 'min-width': '75rem' }">
        <!-- <ng-template pTemplate="caption">
        <div class="flex-container">
            <h2>List of studentss</h2>

        </div>
    </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th>REG ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>ROLL NO</th>
                <th>GENDER</th>
                <th>STD</th>
                <th>DIV</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>ACTION</th>




            </tr>


        </ng-template>
        <ng-template pTemplate="body" let-students>
            <tr>


                <td style="color:#01A9F1;font-weight: bold;">{{ students.uniqueId }}</td>
                <td>{{ students.firstName }}</td>
                <td>{{ students.lastName }}</td>
                <td>{{ students.rollNo }}</td>
                <td>{{ students.gender }}</td>
                <td>{{ students.std }}</td>
                <td>{{ students.div }}</td>
                <td>{{ students.email}}</td>
                <td>{{ students.mobileNo }}</td>
                <td style="color:#0257FF;font-weight: bold;">


                    <p-button (click)="handleClick( students.schoolId ); menu.toggle($event)" icon="pi pi-ellipsis-v"
                        styleClass="p-button-rounded p-button-text">

                    </p-button>
                </td>




            </tr>
        </ng-template>

    </p-table>
</div>

<div *ngIf="!students">
    <div class="card">
        <img src="src=../../../assets/layout/images/no-data-loader.gif"
            style="margin-left: 410px; border-radius: 5px 5px 0 0;">
    </div>
</div>
