<button pButton pRipple label="+ Add Institute" (click)="AddInstitute()"></button>



<div style="margin-top:8%;">
    <p-table #dt2 [value]="school" dataKey="id" [rows]="10"
        [globalFilterFields]="['name', 'plan', 'balance', 'adjustments']" [tableStyle]="{ 'min-width': '75rem' }">
        <!-- <ng-template pTemplate="caption">
            <div class="flex-container">
                <h2>List of Institutes</h2>

            </div>
        </ng-template> -->
        <ng-template pTemplate="header">
            <tr>
                <th>UNIQUE NO.</th>

                <th> NAME</th>
                <th>INSTITUTE TYPE</th>
                <th> BOARD</th>
                <th> PHONE</th>

                <th> CITY</th>
                <th> STATE</th>
                <th> ACTION</th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-school>
            <tr>
                <td>{{ school.uniqueId }}</td>

                <td>{{ school.name }}</td>
                <td>{{ school.type }}</td>
                <td>{{ school.board }}</td>
                <td>{{ school.phone }}</td>

                <td>{{ school.city }}</td>
                <td>{{ school.state }}</td>
                <td>{{ school.action }}</td>

            </tr>
        </ng-template>

    </p-table>
</div>