<div class="container">
    <div class="card">


        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-4">
                <label htmlFor="name">Old password<span class="text-red-600"> *</span></label>
                <input pInputText id="name" type="text" placeholder=" Enter your old password" />



            </div>
            <div class="field col-12 md:col-4">
                <label htmlFor="name">New password<span class="text-red-600"> *</span></label>
                <input pInputText id="name" type="text" placeholder=" Enter your new password" />



            </div>

        </div>
        <p-button label="Submit" (click)="submit()"></p-button>

    </div>
</div>
