<div class="steper">
    <div class="card">

        <p-tabView [(activeIndex)]="activeIndex" styleClass="tabview-custom">
            <!-- <p-tabPanel [disabled]="activeIndex !== 0"> -->
            <p-tabPanel>

                <ng-template pTemplate="header">
                    <h4><span *ngIf="personalInfoComplete" class="fa-solid fa-circle-check" style="color:green"></span>
                        Personal</h4>
                </ng-template>
                <p>
                    <!-- <app-personal-info (onSavePersonalInfo)="onSavePersonalInfo($event)"></app-personal-info> -->
                    <app-personal-info></app-personal-info>

                </p>
            </p-tabPanel>

            <p-tabPanel header="Institute">
                <!-- <p-tabPanel [disabled]="activeIndex !== 1" header="Institute"> -->

                <ng-template pTemplate="header">
                    <h4><span *ngIf="businessInfoComplete" class="fa-solid fa-circle-check" style="color:green"></span>
                        Institute</h4>
                </ng-template>
                <!-- <app-business-info (onBusinessDetails)="onBusinessDetails($event)"> </app-business-info> -->
                <app-institute-info></app-institute-info>
            </p-tabPanel>

            <!-- <p-tabPanel [disabled]="activeIndex !== 2" header="Bank"> -->
            <p-tabPanel header="Bank">

                <ng-template pTemplate="header">
                    <h4> <span *ngIf="bankInfoComplete" class="fa-solid fa-circle-check" style="color:green"></span>
                        Bank</h4>
                </ng-template>
                <!-- <app-bank-info (onSaveBankInfo)="onSaveBankInfo($event)"></app-bank-info> -->
                <app-bank-info></app-bank-info>

            </p-tabPanel>
            <p-tabPanel header="Staff">

                <ng-template pTemplate="header">
                    <h4> <span *ngIf="bankInfoComplete" class="fa-solid fa-circle-check" style="color:green"></span>
                        Staff</h4>
                </ng-template>
                <!-- <app-bank-info (onSaveBankInfo)="onSaveBankInfo($event)"></app-bank-info> -->
                <app-staff-info></app-staff-info>
            </p-tabPanel>

            <!-- <p-tabPanel [disabled]="activeIndex !== 3" header="Kyc"> -->
            <p-tabPanel header="KYC">

                <ng-template pTemplate="header">
                    <!-- -->
                    <h4><span *ngIf="kycInfoComplete" class="fa-solid fa-circle-check" style="color:green"></span> Kyc
                    </h4>
                </ng-template>
                <app-kyc-info></app-kyc-info>
                <!-- <app-kyc-info (onSaveKycInfo)="onSaveKycInfo($event)"></app-kyc-info> -->

            </p-tabPanel>

            <!-- <p-tabPanel [disabled]="activeIndex !== 4" header="Status"> -->
            <p-tabPanel header="Status">

                <ng-template pTemplate="header">
                    <h4> <span> </span> Status</h4>
                </ng-template>
                <app-status></app-status>
            </p-tabPanel>
        </p-tabView>
    </div>
    <!-- <div  [@routeAnimations]="getRouteAnimationData()">
    </div> -->
</div>

<router-outlet></router-outlet>
