<div class="container" [style]="{
            'display': 'flex',
            'align-items': 'center',
            'justify-content': 'center'
        }">
    <div class="card" [style]="{'width':'60rem'}">
        <div class="col">
            <form [formGroup]="personalGrp">

                <div class="grid ">
                    <div class="col-12 flex align-items-center justify-content-center">

                    </div>

                </div>

                <hr>
                <div class="formgrid grid">
                    <div class="field col-3 lg:col-4 md:col-3 ">
                        <label for="firstname2" htmlFor="username">First Name<span class="text-red-600">
                                *</span></label>
                        <div class="p-inputgroup">

                            <input pInputText placeholder=" Enter your first name" formControlName=" firstName"
                                maxlength="45" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />
                        </div>
                        <!-- <app-validationerror [control]="personalGrp.get('firstName')" [controleName]="'First Name'" ></app-validationerror> -->
                    </div>

                    <div class="field col-3 lg:col-4 md:col-3">
                        <label for="firstname2">Last Name<span class="text-red-600"> *</span></label>
                        <div class="p-inputgroup">

                            <input pInputText placeholder="Enter your last name" formControlName="lastName"
                                maxlength="45" oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />
                        </div>
                        <!-- <app-validationerror [control]="personalGrp.get('lastName')" [controleName]="'Last Name'"></app-validationerror> -->

                    </div>
                    <div class="field col-3 lg:col-4 md:col-3 ">
                        <label for="firstname2">Email Id<span class="text-red-600"> *</span></label>
                        <div class="p-inputgroup">

                            <input pInputText placeholder=" Enter your email id" formControlName="email"
                                oninput="this.value = this.value.replace(/[^a-z0-9.@]/g, '')" />
                        </div>
                        <!-- <app-validationerror [control]="personalGrp.get('email')" [controleName]="'Email'"></app-validationerror> -->

                    </div>
                    <div class="field col-3 lg:col-4 md:col-3">
                        <label for="firstname2">Mobile No<span class="text-red-600"> *</span></label>
                        <div class="p-inputgroup">

                            <input type="text" appOnlyNumber maxlength="10" minlength="0" required
                                pattern="[- +()0-9]{10,12}" pInputText placeholder=" Enter your mobile no"
                                formControlName="mobileNo" />
                        </div>
                        <!-- <app-validationerror [control]="personalGrp.get('mobileNo')" [controleName]="'Mobile  Number'"></app-validationerror> -->

                    </div>

                    <div class="field col-3 lg:col-4 md:col-3 ">
                        <label htmlFor="password" for="password">Password<span class="text-red-600"> *</span></label>
                        <div class="p-inputgroup">

                            <p-password [toggleMask]="true" formControlName="password" placeholder="Enter your password"
                                [style]="{'width':'100%'}">
                                <ng-template pTemplate="header">
                                    <h6>Pick a password</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase</li>
                                        <li>At least one numeric</li>
                                        <li>Minimum 8 characters</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                        </div>
                        <!-- <app-validationerror [control]="personalGrp.get('password')" [controleName]="'Password'"></app-validationerror> -->
                    </div>

                    <div class="field col-3 lg:col-4 md:col-3">
                        <label for="firstname2">Confirm Password<span class="text-red-600"> *</span></label>

                        <div class="p-inputgroup">

                            <p-password [toggleMask]="true" [feedback]="false" formControlName="confirmPassword"
                                placeholder=" Enter your confirm password" [style]="{'width':'100%'}"></p-password>
                        </div>
                        <!-- <app-validationerror [control]="personalGrp.get('confirmPassword')" [controleName]="'Confirm Password'"></app-validationerror> -->

                        <div *ngIf="personalGrp.errors?.['mismatch']">
                            <small class="tx-danger">Passwords do not match</small>
                        </div>
                    </div>
                </div>






                <div class="formgrid grid">
                    <div class="col-12 flex align-items-center justify-content-center">
                        <p-button label="Save" (click)="onSave()"></p-button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
