<form [formGroup]="kycGrp">
    <div class="grid" style="margin-top: 30px;">

        <div class="col-12 lg:col-6 md:col-12 ">
            <span class="p-float-label">
                <input formControlName="panNo" pKeyFilter="alphanum" pInputText id="panNo"
                    style='text-transform:uppercase;width: 100%;' maxlength="10" minlength="10" />
                <label htmlFor="panNo">Enter Pan No<span class="text-red-600"> *</span></label>

            </span>
            <br>
            <p-fileUpload uploadLabel=" " [auto]="false" [files]="panFile" #panUpload [customUpload]="true"
                (uploadHandler)="panDetailsUpload($event,panUpload)" [showCancelButton]="false" chooseLabel=" "
                name="demo[]" [multiple]="false" accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <i class="pi pi-check" [style.display]="showIcon ? 'inline' : 'none'"
                    style="margin-left: 20px;padding: 11px 10px;"></i>

                <ng-template pTemplate="toolbar">
                    <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"
                        style="margin-left: 20px;padding: 11px 10px;" (click)="showIcon = true"
                        [style.display]="!showIcon ? 'inline' : 'none'"></button> -->

                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [png, jpg, jpeg, pdf]
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </p-fileUpload>

            <!-- <p-fileUpload [auto]="false" [files]="panFile" #panUpload [customUpload]="true"
                (uploadHandler)="panDetailsUpload($event,panUpload)" [showCancelButton]="false" chooseLabel="Choose"
                name="demo[]" [multiple]="false" accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000"> <i
                    class="pi pi-check"></i>

                <ng-template pTemplate="toolbar">
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"
                        style="margin-left: 20px;"></button>

                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [png, jpg, jpeg, pdf]
                            </li>
                        </ul>
                    </div>
                </ng-template>

            </p-fileUpload> -->



        </div>

        <div class="col-12 lg:col-6 md:col-12">
            <span class="p-float-label">
                <input formControlName="aadhar" pInputText id="udyam" style='text-transform:uppercase ; width: 100%;'
                    maxlength="12" minlength="12" />
                <label htmlFor="udyam">Enter Aadhar No.<span class="text-red-600"> *</span></label>
            </span>
            <br>
            <p-fileUpload uploadLabel=" " [auto]="false" [customUpload]="true" [showCancelButton]="false"
                chooseLabel=" " name="demo[]" (uploadHandler)="aadharUpload($event)" [multiple]="false"
                [files]="udymaFile" accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <i class="pi pi-check" [style.display]="showIconaadhar ? 'inline' : 'none'"
                    style="margin-left: 20px;padding: 11px 10px;"></i>

                <ng-template pTemplate="toolbar">
                    <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"
                        style="margin-left: 20px;padding: 11px 10px;" (click)="showIconaadhar = true"
                        [style.display]="!showIconaadhar ? 'inline' : 'none'"></button> -->

                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [.png, .jpg, .pdf, .jpeg]
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </p-fileUpload>
        </div>
        <div class="col-12 lg:col-6 md:col-12">
            <span class="p-float-label">
                <input pInputText id="gst" formControlName="gst" maxlength="15" minlength="15"
                    style='text-transform:uppercase;width: 100%;' />
                <label htmlFor="gstNo">Enter GST No<span class="text-red-600"> *</span></label>
            </span>
            <br>
            <p-fileUpload uploadLabel=" " #gstUpload [auto]="false" [customUpload]="true" [showCancelButton]="false"
                chooseLabel=" " name="demo[]" (uploadHandler)="gstDetailsUpload($event , gstUpload)" [multiple]="false"
                accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <i class="pi pi-check" [style.display]="showIcongst? 'inline' : 'none'"
                    style="margin-left: 20px;padding: 11px 10px;"></i>

                <ng-template pTemplate="toolbar">
                    <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"
                        style="margin-left: 20px;padding: 11px 10px;" (click)="showIcongst = true"
                        [style.display]="!showIcongst ? 'inline' : 'none'"></button> -->

                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [.png, .jpg, .pdf, .jpeg]
                            </li>
                        </ul>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <ul *ngIf="gstDetails.length">
                        <li *ngFor="let file of gstDetails">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>


        <div class="col-12 lg:col-6 md:col-12">
            <span class="p-float-label">
                <input pInputText id="reg" formControlName="reg" maxlength="15"
                    style='text-transform:uppercase;width: 100%;' />
                <label htmlFor="gstNo">Enter REG No<span class="text-red-600"> *</span></label>
            </span>
            <br>
            <p-fileUpload #regUpload [auto]="false" [customUpload]="true" [showCancelButton]="false" chooseLabel=" "
                uploadLabel=" " name="demo[]" (uploadHandler)="regDocUpload($event , regUpload)" [multiple]="false"
                accept=".png,.jpg,.pdf,.jpeg" [maxFileSize]="1000000">
                <i class="pi pi-check" [style.display]="showIconreg? 'inline' : 'none'"
                    style="margin-left: 20px;padding: 11px 10px;"></i>
                <ng-template pTemplate="toolbar">
                    <!-- <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"
                        style="margin-left: 20px;padding: 11px 10px;" (click)="showIconreg = true"
                        [style.display]="!showIconreg ? 'inline' : 'none'"></button> -->

                    <div class="py-3">
                        <ul>
                            <li>
                                Maximum file size: [1 MB]
                            </li>
                            <li>
                                Accepted file formats: [.png, .jpg, .pdf, .jpeg]
                            </li>
                        </ul>
                    </div>
                </ng-template>
                <ng-template pTemplate="content">
                    <ul *ngIf="regDetails.length">
                        <li *ngFor="let file of regDetails">{{ file.name }} - {{ file.size }} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>


    </div>
    <button *ngIf="aadhaarStatus &&
    PANStatus &&
    REGStatus &&
    GSTStatus" pButton pRipple label="Submit" (click)="submit()"></button>
    <button *ngIf="!REGStatus" [disabled]="true" pButton pRipple label="Save" style="background-image: linear-gradient(to right, #835dea, #462ea5);
    border: none; padding:15px 40px;margin-top: 50px;font-size:17px;font-weight: bold;"></button>



</form>
