<div class="card">

    <form class="pt-4" [formGroup]="addStdGrp">
        <p-multiSelect [style]="{'width':'25rem'}" defaultLabel="Select a Standard " [virtualScroll]="true"
            [filter]="false" [virtualScrollItemSize]="43" [options]="standards" formControlName="std" optionLabel="name"
            [panelStyleClass]="showContainer ? 'show-container' : ''">
            <ng-template pTemplate="header">
                <div class="container" *ngIf="showContainer">
                    <input [style]="{'width':'100%'}" pInputText id="name" (keyup)="onKey()" style="width: 10%"
                        type="text"
                        oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        nz-input #inputElement />
                    <button pButton pRipple label="Add" class="add-item"
                        (click)="addStd(inputElement.value); inputElement.value = ''"
                        style="margin-left: 10px;"></button>
                </div>
            </ng-template>
        </p-multiSelect>

        <!-- <p-multiSelect [style]="{'width':'25rem'}" defaultLabel="Select a Standard " [virtualScroll]="true"
            [filter]="false" [virtualScrollItemSize]="43" [options]="standards" formControlName="std"
            optionLabel="name">
            <ng-template pTemplate="header">

                <div class="container" *ngIf="showContainer">
                    <input [style]="{'width':'100%'}" pInputText id="name" (keyup)="onKey()" style="width: 10%"
                        type="text"
                        oninput="this.value = this.value.replace(/[^a-zA-Z0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        nz-input #inputElement />


                    <button pButton pRipple label="Add" class="add-item"
                        (click)="addStd(inputElement.value); inputElement.value = ''" style="margin-left: 10px;">

                    </button>

                </div>
            </ng-template>

        </p-multiSelect> -->
        <p-button icon="pi pi-plus" (click)="showContainer = !showContainer"></p-button>

        <!-- <ng-template #renderTemplate> -->

        <br>
        <br>
        <br>
        <br>
        <br>

    </form>

    <button pButton pRipple label="Submit" (click)="submit()"></button>







    <div *ngIf="show">
        <p-table #dt2 [value]="stds" dataKey="id" [rows]="10">
            <!-- <ng-template pTemplate="caption">
            <div class="flex-container">
                <h2>List of Bank</h2>

            </div>
        </ng-template> -->
            <ng-template pTemplate="header">
                <tr>

                    <th> STD</th>
                    <th> DIV</th>
                    <th> ACTION</th>





                </tr>


            </ng-template>
            <ng-template pTemplate="body" let-stds>
                <tr>
                    <td>{{ stds.std }}</td>

                    <td>

                        <form [formGroup]="addDivGrp">
                            <p-multiSelect [virtualScroll]="true" [filter]="false" [virtualScrollItemSize]="43"
                                formControlName="div" [options]="divisions" optionLabel="name"></p-multiSelect>
                        </form>
                    </td>


                    <td> <button pButton pRipple label="addDiv" (click)="addDiv(stds.standardId)"></button>
                    </td>



                </tr>
            </ng-template>

        </p-table>
    </div>

</div>