<div>
    <div class="col-12">
        <div class="card">
            <form class="pt-4" [formGroup]="studentDetails">

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label htmlFor="firstname2">Firstname<span class="text-red-600"> *</span></label>

                        <input pInputText id="firstname2" type="text" formControlName="studentFirstName"
                            placeholder="Firstname" pattern="^[A-Za-z]{2,}$" />
                        <div
                            *ngIf="studentDetails.controls['studentFirstName'].touched && studentDetails.controls['studentFirstName'].errors">
                            <div *ngIf="studentDetails.controls['studentFirstName'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter Institute name!
                            </div>
                            <div *ngIf="studentDetails.controls['firstname'].hasError('pattern')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter a valid Institute name!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="lastname2">Lastname<span class="text-red-600"> *</span></label>
                        <input pInputText id="lastname2" type="text" formControlName="studentLastName"
                            placeholder="Lastname" pattern="^[A-Za-z]{2,}$" />
                        <div *ngIf="studentDetails.controls['studentLastName'].touched ">
                            <div *ngIf="studentDetails.controls['studentLastName'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your lastName name!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="email">Email <span class="text-red-600"> *</span></label>
                        <input pInputTextarea id="email" rows="4" formControlName="studentEmail" placeholder="Email"
                            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                        <div
                            *ngIf="studentDetails.controls['studentEmail'].touched && studentDetails.controls['studentEmail'].errors">
                            <div *ngIf="studentDetails.controls['studentEmail'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your email Id!
                            </div>
                            <div *ngIf="studentDetails.controls['studentEmail'].hasError('pattern')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter a valid email Id!

                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="phone">Phone <span class="text-red-600"> *</span></label>
                        <input pInputText id="phone" type="text" formControlName="studentPhone" placeholder="Phone"
                            minlength="10" maxlength="10" type="phone"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            placeholder="phone no" required pattern="[0-9 ]{10}" />
                        <div
                            *ngIf="studentDetails.controls['studentPhone'].touched && studentDetails.controls['studentPhone'].errors">
                            <div *ngIf="studentDetails.controls['studentPhone'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter Mobile No!

                            </div>
                            <div *ngIf="studentDetails.controls['studentPhone'].hasError('pattern')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter Valid Mobile No!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="state">Gender</label>
                        <p-dropdown [options]="dropdownItems" optionLabel="name" placeholder="Select Gender">
                        </p-dropdown>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label htmlFor="address">Address <span class="text-red-600"> *</span></label>
                        <input pInputText id="address" type="text" formControlName="studentAddress"
                            placeholder="Address" />
                        <div *ngIf="studentDetails.controls['studentAddress'].touched ">
                            <div *ngIf="studentDetails.controls['studentAddress'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your address!
                            </div>
                        </div>


                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="dob">DOB <span class="text-red-600"> *</span></label>
                        <p-calendar inputId="calendar" [(ngModel)]="value5" formControlName="studentDateOfBirth"
                            placeholder="Date of Birth"></p-calendar>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="nationality">Nationality <span class="text-red-600"> *</span></label>
                        <input pInputText id="nationality" type="text" formControlName="studentNationality"
                            placeholder="Nationality" />
                        <div *ngIf="studentDetails.controls['studentNationality'].touched ">
                            <div *ngIf="studentDetails.controls['studentNationality'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your nationality!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="religion">Religion <span class="text-red-600"> *</span></label>
                        <input pInputText id="religion" type="text" formControlName="studentReligion"
                            placeholder="Religion" />
                        <div *ngIf="studentDetails.controls['studentReligion'].touched ">
                            <div *ngIf="studentDetails.controls['studentReligion'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your religion!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="birthPlace">Birth Place <span class="text-red-600"> *</span></label>
                        <input pInputText id="birthPlace" type="text" formControlName="studentPlaceOfBirth"
                            placeholder="Birth Place" />
                        <div *ngIf="studentDetails.controls['studentPlaceOfBirth'].touched ">
                            <div *ngIf="studentDetails.controls['studentPlaceOfBirth'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your birth place!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="firstname2">Previous School<span class="text-red-600"> *</span></label>

                        <input pInputText id="studentPreviousSchool" type="text" formControlName="studentPreviousSchool"
                            placeholder="Previous School" pattern="^[A-Za-z]{2,}$" />
                        <div *ngIf="studentDetails.controls['studentPreviousSchool'].touched">
                            <div *ngIf="studentDetails.controls['studentPreviousSchool'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your previous school name!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="firstname2">Previous Class<span class="text-red-600"> *</span></label>

                        <input pInputText id="studentPreviousClass" type="text" formControlName="studentPreviousClass"
                            placeholder="Previous School" />
                        <div *ngIf="studentDetails.controls['studentPreviousClass'].touched">
                            <div *ngIf="studentDetails.controls['studentPreviousClass'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your previous class!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="state">State <span class="text-red-600"> *</span></label>
                        <input pInputText id="state" type="text" formControlName="studentStateOfOrigin"
                            placeholder="State" />
                        <div *ngIf="studentDetails.controls['studentStateOfOrigin'].touched ">
                            <div *ngIf="studentDetails.controls['studentStateOfOrigin'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your state!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="Std">Std <span class="text-red-600"> *</span></label>
                        <input pInputText id="Std" type="text" formControlName="studentClass" placeholder="Standard" />
                        <div *ngIf="studentDetails.controls['studentClass'].touched ">
                            <div *ngIf="studentDetails.controls['studentClass'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your standard!
                            </div>
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="Std">Previous Average <span class="text-red-600"> *</span></label>
                        <input pInputText id="studentPreviousClassAverage" type="text"
                            formControlName="studentPreviousClassAverage" placeholder="Previous class average" />
                        <div *ngIf="studentDetails.controls['studentPreviousClassAverage'].touched ">
                            <div *ngIf="studentDetails.controls['studentPreviousClassAverage'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Enter your previous class average!
                            </div>
                        </div>

                    </div>

                </div>
                <button pButton pRipple label="Submit" (click)="submit()"></button>

            </form>

        </div>

    </div>

</div>
