<form class="pt-4" [formGroup]="listInstitute">
    <p-accordion [activeIndex]="0">
        <p-accordionTab header="Institute Details">

            <div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label htmlFor="name">Name<span class="text-red-600"> *</span></label>
                        <input pInputText id="name" type="text" placeholder="name" formControlName="instituteName"
                            pattern="^[A-Za-z ]{2,}$" />
                        <div
                            *ngIf="listInstitute.controls['instituteName'].touched && listInstitute.controls['instituteName'].errors">
                            <div *ngIf="listInstitute.controls['instituteName'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px">
                                Enter your name!
                            </div>
                            <div *ngIf="listInstitute.controls['instituteName'].hasError('pattern')"
                                style="color: red;text-align: left;margin-top: 6px">
                                Enter a valid Institute name!
                            </div>
                        </div>




                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="type">Type<span class="text-red-600"> *</span></label>
                        <p-dropdown [options]="dropdownItems" placeholder="Select a Type" optionLabel="name"
                            formControlName="instituteType"></p-dropdown>

                        <div *ngIf="listInstitute.controls['instituteType'].invalid && listInstitute.controls['instituteType'].touched"
                            style="color: red;text-align: left;margin-top: 6px;">
                            Please select an institute type.
                        </div>

                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="phone">Phone No<span class="text-red-600"> *</span></label>
                        <input pInputTextarea id="phone" rows="4" placeholder="phone" minlength="10" maxlength="10"
                            type="phone" formControlName="institutePhone"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                            placeholder="phone " />

                        <div
                            *ngIf="listInstitute.controls['institutePhone'].touched && listInstitute.controls['institutePhone'].errors">
                            <div *ngIf="listInstitute.controls['institutePhone'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px">
                                Enter your phone no!
                            </div>
                            <div *ngIf="listInstitute.controls['institutePhone'].hasError('pattern')"
                                style="color: red;text-align: left;margin-top: 6px">
                                Enter a valid Institute name!
                            </div>
                        </div>

                    </div>

                    <div class="field col-12 md:col-4">
                        <label htmlFor="website">Website</label>
                        <input pInputTextarea id="website" rows="4" formControlName="instituteWebsite"
                            placeholder="website" />
                    </div>

                    <div class="field col-12 md:col-4">
                        <label htmlFor="email">Email</label>
                        <input pInputTextarea id="email" rows="4" formControlName="instituteEmail"
                            placeholder="Email" />
                    </div>
                    <div class="field col-12 md:col-4">
                        <label htmlFor="std">Board<span class="text-red-600"> *</span></label>
                        <p-dropdown [options]="boards" placeholder="Select board" optionLabel="name"
                            formControlName="instituteBoard"></p-dropdown>

                        <!-- <input pInputText id="std" type="text" formControlName="std"
                            placeholder="Select Standard" /> -->
                        <div *ngIf="listInstitute.controls['instituteBoard'].touched ">
                            <div *ngIf=" listInstitute.controls['instituteBoard'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Please select Student's board!
                            </div>
                        </div>


                    </div>
                    <!-- <div class="field col-12 md:col-4">
                        <label htmlFor="board">Board<span class="text-red-600"> *</span></label>
                        <input pInputTextarea id="board" rows="4" formControlName="instituteBoard" placeholder="board"
                            pattern="^[A-Za-z ]{2,}$" />

                        <div
                            *ngIf="listInstitute.controls['instituteBoard'].touched && listInstitute.controls['instituteBoard'].errors">
                            <div *ngIf="listInstitute.controls['instituteBoard'].hasError('required')"
                                style="color: red;text-align: left;">
                                Enter your board!
                            </div>
                            <div *ngIf="listInstitute.controls['instituteBoard'].hasError('pattern')"
                                style="color: red;text-align: left;">
                                Enter a valid Institute name!
                            </div>
                        </div>

                    </div> -->
                    <div class="field col-12 md:col-4">
                        <!--<label htmlFor="std">Select Standard<span class="text-red-600"> *</span></label>
                        <p-dropdown [options]="standard" placeholder="Select Standard" optionLabel="name"
                            formControlName="instituteStd"></p-dropdown>-->

                        <!-- <input pInputText id="std" type="text" formControlName="std"
                            placeholder="Select Standard" /> -->
                        <!--<div *ngIf="listInstitute.controls['instituteStd'].touched ">
                            <div *ngIf=" listInstitute.controls['instituteStd'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Please select Student's Standard!
                            </div>
                        </div>-->



                        <label htmlFor="std">Select Standard<span class="text-red-600"> *</span></label>
                         <p-multiSelect [options]="standard" formControlName="instituteStd" optionLabel="name"
                         placeholder="Select Standard"></p-multiSelect>

                                <div *ngIf="listInstitute.controls['instituteStd'].touched ">
                                    <div *ngIf=" listInstitute.controls['instituteStd'].hasError('required')"
                                        style="color: red;text-align: left;margin-top: 6px;">
                                        Please select Student's Standard!
                                    </div>
                                </div>



                        <div class="container">
                            <input (keyup)="onKey($event.target)" style="width: 20%" type="text"
                            oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');"
                            nz-input #inputElement />

                            <button nz-button nzType="text" class="add-item"
                            (click)="addStd(inputElement.value); inputElement.value = ''" style="margin-left: 10px;">
                            <em nz-icon nzType="plus"></em>
                            Add Std
                          </button>
                        </div>


                    </div>

                    <div class="field col-12 md:col-4">
                        <!--<label htmlFor="std">Division<span class="text-red-600"> *</span></label>
                        <p-dropdown [options]="division" placeholder="Select division" optionLabel="name"
                            formControlName="instituteDiv"></p-dropdown>-->

                        <!-- <input pInputText id="std" type="text" formControlName="std"
                            placeholder="Select Standard" /> -->
                        <!--<div *ngIf="listInstitute.controls['instituteDiv'].touched ">
                            <div *ngIf=" listInstitute.controls['instituteDiv'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Please select Student's division!
                            </div>
                        </div>-->


                        <label htmlFor="division">Select Division <span class="text-red-600"> *</span></label>
                         <p-multiSelect [options]="division" formControlName="instituteDiv" optionLabel="name"
                         placeholder="Select Division"></p-multiSelect>

                         <div *ngIf="listInstitute.controls['instituteDiv'].touched ">
                            <div *ngIf=" listInstitute.controls['instituteDiv'].hasError('required')"
                                style="color: red;text-align: left;margin-top: 6px;">
                                Please select Student's division!
                            </div>
                            </div>

                        <div class="container">
                            <input (keyup)="onKeyup($event.target)" style="width: 20%" type="text"
                            oninput="this.value = this.value.replace(/[^a-zA-Z.]/g, '').replace(/(\..*)\./g, '$1');"
                            nz-input #inputElement1 />

                            <button nz-button nzType="text" class="add-item"
                            (click)="addDiv(inputElement1.value); inputElement.value = ''" style="margin-left: 10px;">
                            <em nz-icon nzType="plus"></em>
                            Add Div
                          </button>
                        </div>


                    </div>
                    <!-- <div class="field col-12 md:col-4">
                        <label htmlFor="Div">Division</label>
                        <input pInputTextarea id="Div" rows="4" formControlName="instituteDiv" placeholder="Div"
                            pattern="" />
                    </div> -->
                </div>
            </div>

        </p-accordionTab>

        <!--Spoc-->

        <p-accordionTab header="SPOC">

            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label htmlFor="spocname">SPOC Name</label>
                    <input pInputText id="spocname" type="text" placeholder="SPOC Name" formControlName="spocName" />

                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="spocNumber"> SPOC Phone </label>
                    <input pInputTextarea id="spocNumber" rows="4" placeholder="SPOC Phone" formControlName="spocNumber"
                        minlength="10" maxlength="10" type="spocNumber"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                        placeholder="Enter phone no for SPOC " required pattern="[0-9 ]{10}" />
                </div>
                <div class="field col-12 md:col-4">
                    <label htmlFor="spocemail">SPOC Email</label>
                    <input pInputTextarea id="spocemail" rows="4" placeholder="SPOC Email" formControlName="spocEmail"
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" />
                </div>
            </div>

        </p-accordionTab>

        <!--Address-->

        <p-accordionTab header="Address">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-4">
                    <label htmlFor="address1">Address line 1</label>
                    <input pInputTextarea id="address1" rows="4" placeholder="Address line 1" formControlName="line1" />
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="address2">Address line 2</label>
                    <input pInputTextarea id="address2" rows="4" placeholder="Address line 2" formControlName="line2" />
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="zipcode">Zip Code<span class="text-red-600"> *</span></label>
                    <input pInputTextarea id="zipcode" rows="4" placeholder="Zip Code" formControlName="zipcode"
                        pattern="[0-9]{5}" />

                    <div *ngIf="listInstitute.controls['zipcode'].touched && listInstitute.controls['zipcode'].errors">
                        <div *ngIf="listInstitute.controls['zipcode'].hasError('required')"
                            style="color: red;text-align: left;">
                            Enter your zipcode!
                        </div>
                        <div *ngIf="listInstitute.controls['institutestd'].hasError('pattern')"
                            style="color: red;text-align: left;">
                            Enter a valid Institute name!
                        </div>
                    </div>
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="country">Country</label>
                    <input pInputTextarea id="country" rows="4" placeholder="Country" formControlName="country" />
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="state">State</label>
                    <input pInputTextarea id="state" rows="4" placeholder="State" formControlName="state" />
                </div>

                <div class="field col-12 md:col-4">
                    <label htmlFor="city">City</label>
                    <input pInputTextarea id="city" rows="4" placeholder="City" formControlName="city" />
                </div>


            </div>
        </p-accordionTab>



    </p-accordion>
</form>
<div style="margin-top: 20px;">
    <p-button label="Submit" (click)="submit()"></p-button>
    <p-button label="Reset" [style]="{'margin-left': '20px'}"></p-button>
</div>
