<form [formGroup]="addCharge">


    <div class="formgrid grid">
        <div class="field col-12 lg:col-4 md:col-12">
            <label for="firstname2">Charge Name</label>
            <div class="p-inputgroup">

                <input placeholder="Enter charge name" type="text" formControlName="chargeName" pInputText />

            </div>


        </div>




        <div class="field col-12 lg:col-4 md:col-12">
            <label for="firstname2">Rate</label>
            <div class="p-inputgroup">

                <input formControlName="rate" placeholder="Enter Rate" type="text" pInputText
                    oninput="this.value = this.value.replace(/[^a-zA-Z\s]/g, '')" />

            </div>


        </div>
        <div class="field col-12 lg:col-4 md:col-12 ">
            <label for="firstname2">Description</label>

            <div class="p-inputgroup">


                <textarea rows="5" cols="30" formControlName="description" placeholder="Enter description" type="text"
                    pInputTextarea></textarea>

            </div>


        </div>



    </div>


    <br>

    <p-button [style]="{'margin-left':'12px'}" [label]="'SAVE'" (click)="save()"></p-button>




</form>
